@import "../../../styles/settings";

.button {
  cursor: pointer;
  &-default {
    background-color: $base-background-dark-color;
    color: $base-color;
    padding: 20px;
    box-shadow: $elevation4;

    &-small {
      padding: 10px 15px !important;
      margin-bottom: 20px;

      @include respond-to("mobile") {
        padding: 15px 20px !important;
        font-size: medium;
      }
    }
  }

  &-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $base-background-dark-color;
    color: $base-color;
    font-family: $brand-font-bold;
    padding: 15px;
    box-shadow: $elevation4;
    border-width: 0;
  }

  &-menu {
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $brand-font-bold;
    font-weight: bold;
    font-size: 100px;
    font-size: medium;
    text-align: center;
    width: 70%;
    height: 15%;
    margin-bottom: 40px;
  }
}