// Links
// ---------

a {
  text-decoration: none;
  color: $base-link-color;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:visited {
    color: $base-link-color;
  }
}

// Images
// ---------
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// Fonts
// ------
h1 {
  font-size: 38px;
  font-family: $brand-font-bold;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-family: $brand-font-bold;
  font-weight: bolder;
}

h3 {
  font-size: 28px;
  font-family: $brand-font-medium;
}

h4 {
  font-size: 24px;
  font-family: $brand-font-medium;
}

h5 {
  font-size: 20px;
  font-family: $brand-font-medium;
}

h6 {
  font-size: 18px;
  font-family: $brand-font-medium;
}

h6 {
  font-size: 16px;
  font-family: $brand-font-medium;
}

p {
  font-size: 20px;
  font-family: $brand-font-regular;
}


.black {
  font-weight: bolder;
}

.center {
  text-align: center;
}
