// Load font faces

@font-face {
  font-family: 'Haas Grotesk Text Regular Subset';
  font-weight: 400;
  font-style: normal;
  src: url()
}

@font-face {
  font-family: 'Haas Grotesk Text Regular';
  font-weight: 400;
  font-style: normal;

  src: url();
}

@font-face {
  font-family: 'Haas Grotesk Text Medium';
  font-weight: 500;
  font-style: normal;

  src: url();
}

@font-face {
  font-family: 'Haas Grotesk Text Bold';
  font-weight: 700;
  font-style: normal;

  src: url();
}

