@import "../../styles/settings";

.project {
	&_container {
		margin-top: 15%;
		margin-bottom:5%;
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 80%;
		margin-left: auto;
		margin-right: auto;

		@include respond-to("medium") {
			width: 60%;
		}
		@include respond-to("small") {
			margin-top: 5%;
			margin-bottom:5%;
			width: 70%;
		}
	}

	&_container_image {
		@include respond-to("mobile") {
			width: 100%;
		}
		@include respond-to("small") {
			width: 100%;
		}
		@include respond-to("medium") {
			width: 100%;
		}
		margin-left: auto;
		margin-right: auto;
	}

	&_about {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}
	
	&_dots {
		width: 15px;
		height: 15px;
		background-color: "gray";
		border-radius: 15;
	}

	&_image {
		max-height: 500px;
	}

	&_p {
		text-align: left;
		font-size: medium;
		font-weight: 500;
	}

	&_h1 {
		text-align: center;
		font-size: 40px;
		font-weight: bolder;
		margin-bottom: 20px;
	}

	&_h2 {
		font-size: xx-large;
		font-weight: bolder;
		margin-bottom: 20px;
	}

	&_h3 {
		font-size: medium;
		font-weight: 500;
		margin: 5px 10px;
	}
	
	&_description {
		margin-top: 15%;
		@include respond-to("small") {
			margin-top: 5%;
		}
	}

	&_list-technologies {
		margin-left: 20px;
		display: flex;
		flex: 1;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}

	&_list-item {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}

	&_list-dot {
		height: 10px;
		width: 10px;
		background-color: $base-link-color;
		border-radius: 50%;
		display: inline-block;
		margin-right: 10px;
	}

	&_buttons-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	&_buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-width: 2px;
		border-color: $base-link-color;
		background-color: transparent;
		border-radius: 2px;
		min-width: 140px;

		margin: 5px;

		@include respond-to("small") {
			margin: 10px;
		}
	}
}