@import "../../styles/settings";

.project {
	&_container {
		margin-top: 5%;
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	&_container_image {
		@include respond-to("mobile") {
			width: 100%;
		}
		@include respond-to("small") {
			width: 100%;
		}
		@include respond-to("medium") {
			width: 70%;
		}
		margin-left: auto;
		margin-right: auto;
	}

	&_image {
		max-height: 600px;
	}

	&_h1 {
		text-align: center;
		font-size: xx-large;
		font-weight: bolder;
		margin-bottom: 20px;
	}

	&_h2 {
		font-size: x-large;
		font-weight: bolder;
		margin-bottom: 20px;
	}

	&_p {
		font-size: large;
		font-weight: 600;
		text-align: center;
		margin-bottom: 20px;
	}
	
	&_description {
		margin-top: 20px;
	}

	&_list_technologies {
		margin-left: 20px;
		display: flex;
		flex: 1;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&_buttons {
		width: 100%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	&_googleImage {
		height: 3em;
	}

	&_appleImage {
		height: 2.5em;
	}
}