.project {
	&_container {
		margin-top: 10%;
		display: flex;
		flex: 1;
		flex-direction: column;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	&_conteiner_image {
		width: 10%;
	}

	&_image {
		object-fit: contain;
		max-height: 600px;
	}

	&_h1 {
		text-align: center;
		font-size: xx-large;
		font-weight: bolder;
		margin-bottom: 20px;
	}

	&_h2 {
		font-size: x-large;
		font-weight: bolder;
		margin-bottom: 20px;
	}
	
	&_description {
		margin-top: 20px;
	}

	&_list_technologies {
		margin-right: 20px;
	}
}