@import "../../../styles/settings";

$gutter: 16px;
$minWidthMobile: 320px;
$minWidthDesktop: 400px;
$maxWidth: 1fr;

/*
1. 1:1 - 100%
2. 16:9 - 56.25%
3. 4:3 - 75%
4. 3:2 - 66.66%
5. 8:5 - 62.5%
*/
$ratio: 48.25%;

.project_card {
  &-container {
    display: grid;
    grid-gap: $gutter;
    /*
    Minimum Width = 368px
    Maximum Width = 1fr i.e full width
    A card will wrap to next row if the browser can not fit cards with their minimum width
    
    auto-fill - this will try to fill all the columns or leave an empty columns if there aren't enough cards
    */
    @include respond-to("mobile") {
      grid-template-columns: repeat(auto-fill, minmax($minWidthMobile, $maxWidth));
    }
    @include respond-to("medium") {
      grid-template-columns: repeat(auto-fill, minmax($minWidthDesktop, $maxWidth));
    }
    // auto-fit - this will fit all the cards in single row if the browser's width is equal to width of all the cards combine + gap
    // grid-template-columns: repeat(auto-fit, minmax($minWidth, $maxWidth));
    
    @media screen and (max-width: 320px) {
      grid-template-columns: repeat(auto-fill, minmax(100%, $maxWidth));
    }
  }

  &-card {
    cursor: pointer;
    background-color: white;
    padding-top: $ratio;
    border-radius: 5px;

    position: relative;
    overflow: hidden;

    margin: 5px;

    box-shadow: $elevation3;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: $elevation4;
    }
    img {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    ul {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      opacity: 0;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}