@import "../../styles/settings";

.about {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  &_container {
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;

    @include respond-to("mobile") {
      width: 80%;
      flex-direction: column;
      margin-top: 15%;
      margin-bottom: 25%;
    }
    @include respond-to("small") {
      overflow-y: hidden; /* Hide vertical scrollbar */
      overflow-x: hidden;
      width: 75%;
      margin-top: 0;
      margin-bottom: 0;
    }
    @include respond-to("medium") {
      overflow: auto;
      flex-direction: row;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: large;

    @include respond-to("small") {
      font-size: x-large;
    }
  }

  h2 {
    font-size: large;
  }

  p {
    @include respond-to("mobile") {
      font-size: medium;
    }
    @include respond-to("small") {
      font-size: medium;
    }
    @include respond-to("medium") {
      font-size: large;
    }
    @include respond-to("large") {
      font-size: large;
    }
  }

  &_description {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: justify;
  }

  &_image {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to("mobile") {
      padding: 10%;
      flex: 0.4;
    }
    @include respond-to("small") {
      padding: 5%;
      flex: 0.4;
    }
    @include respond-to("medium") {
      padding: 4%;
      flex: 0.8;
    }
    @include respond-to("large") {
      padding: 4%;
      flex: 0.8;
    }

    img {
      max-height: 400px;
      max-width: 400px;
      align-self: center;
      border-radius: 50%;
      width: 100%;
    }
  }
}