@import "../../../styles/settings";

.chip {
  &_container {
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: $base-font-color;
    color: white;
    font-size: 80%;
    font-weight: bold;
    border-radius: 2px;
    border-width: 0px;
    margin: 5px;
    box-shadow: $elevation1;

    @include respond-to("mobile") {
      display: none;
    }
    @include respond-to("small") {
      display: flex;
    }

    &-selected {
      background-color: $accent-color;
    }
  }
}