@import "../../../styles/settings";

.layout {
  &_social_icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0px;

    @include respond-to("small") {
      width: 20px;
      flex-direction: column;
      left: 0px;
      top: calc(50% - (275px / 2));
      bottom: unset;
      margin-left: 5%;
    }

    &-true {
      position: fixed;
      bottom: 1%;
      @include respond-to("small") {
        bottom: 40%;
      }
    }
  }

  &_content {
    margin: 10%;
    display: flex;
    flex: 1;
    flex-direction: column;
    z-index: 1;
  }

  &_icon {
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: transparent;
    border-width: 0px;
  }
}