@import "../../../styles/settings";

.rich_text {
  width: 100%;
  text-align: center;
  h1 {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
  }

  p {
    font-size: medium;
    font-weight: 500;
  }

  h2 {
    font-size: large;
    @include respond-to("small") {
      font-size: larger;
		}
  }
  h3 {
    font-size: medium;
    @include respond-to("small") {
      font-size: large;
		}
  }
  h6 {
    text-align: center;
  }

  &-bold {
    text-align: center;
    font-weight: bolder;
  }
}
