.rich_text {
  width: 100%;
  text-align: center;

  &-bold {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    color: black;
  }

  &-p {
    font-size: x-large;
  }

  &-h1 {
    text-align: center;
  }

  &-h6 {
    text-align: center;
  }
}
