@import '../../../styles/settings';

.menu {
  &_button {
    position: absolute;
    right: 40px;
    @include respond-to('small') {
      right: 20px;
    }
    top: 5%;
  }
  &_content {
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(gray, 0.9);
    opacity: 0;
    transition: all .5s;

    &-open {
      visibility: visible;
      opacity: 1;
    }

    &-close {
      visibility: hidden;
      opacity: 0;
    }
  }
}