// Creates min-width media queries given a breakpoint
//
// @param $name {String} - A breakpoint name
// @param $breakpoints {Map} - A map of breakpoints
//
// Usage
// @include breakpoint('md-and-up') {
//  .foo { color: red; }
// };

@mixin breakpoint($name, $breakpoints: $grid-breakpoints) {
  // $named-breakpoints: ('md-and-up': 47.999em, 'lg-and-up': 89.999em, ...)
  $named-breakpoints: ();

  // Creates mapping from breakpoint acronym in settings to
  // a named breakpoint such as 'md-and-up'
  @each $breakpoint in map-keys($breakpoints) {
    $min-breakpoint: breakpoint-min($breakpoint, $breakpoints);

    @if $min-breakpoint {
      $key: '#{breakpoint}-and-up';
      $value: map-get($breakpoints, $breakpoint);

      $named-breakpoints: map-merge(
        $named-breakpoints,
        ($key: $value)
      );
    }
  }

  // Uses named-breakpoints map to generate the breakpoint value
  @media (min-width: map-get($named-breakpoints, $name)) {
    @content;
  }
}